caption{
font-size: 25px;
color: rgb(182, 80, 255);
font-weight: 600
;

}
h1 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 45px;
    color:blue
}
table, th, td {

border: 1px solid black; border-collapse: collapse; 
width: 100px;
font-family: Verdana;

}
th {
    padding: 30px;
    background-color: aqua;
    text-align: center;
    font-size: 25px;
}
table {

    margin: auto;
}
td {
    text-align: center;
}
.BD{

    background-color: aquamarine;
}
.P {

    background-color: rgb(80, 255, 103);
}
.SI {

    background-color: rgb(224, 132, 240);
}
.IPOI {

    background-color: rgb(255, 249, 127);
}
.DIW {

    background-color: rgb(230, 75, 106);
}
.TUT {

    background-color: rgb(239, 148, 63);
}

.LMSGI {
    background-color: burlywood;
}
.AN {

    background-color: rgb(87, 196, 255);
}
.hores {

    background-color: cornsilk;
    padding: 10px;
    font-size: 20px;

}
.DESCANS {

    background-color: darksalmon;
    padding: 15px;
    font-size: 20px;
}